@import '../common';

.item {
  width: 100%;
  margin-bottom: 16px;

  &__half {
    width: 50%;
    margin-right: 16px;
  }

  &__old {
    font-size: 14px;
    margin-top: 20px;
    color: $text-gray;
  }
}

.itemStar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;

  &__label {
    color: #646464;
    font-size: 12px;
  }
}

.star {
  color: $secondary;
}

.itemFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
