@import '../common';

.container {
  margin: 0;
  padding: 24px;
  background-color: $grey;
}

.controller {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  width: 120px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 200ms ease;

  &.isClose {
    margin-bottom: 0;
  }

  .controllerIcon {
    display: inline-block;
    height: 24px;
    margin-left: 8px;
    font-size: 24px;
  }
}

.contentBox {
  height: 104px;
  overflow: hidden;
  transition: height 300ms ease;
  &.isClose {
    height: 0;
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 1200px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.titleBox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  font-weight: 500;
}

.titleIcon {
  display: flex;
  align-items: center;
}

.filterTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.star {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 4px;
  color: $secondary;

  &:last-of-type {
    margin-right: 0;
  }
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 24px;
  width: 50%;

  &:last-of-type {
    margin-right: 0;
  }
}

.label {
  display: inline-block;
  width: 80px;
  color: #646464;
  font-size: 12px;
}

.starsFiled {
  display: flex;
  align-items: center;
}

.starsWrap {
  pointer-events: none;
  opacity: .5;
}

.priorityCheck {
  margin-left: 16px;
}
