@import '../_common.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.header {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../images/header.png');
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.title {
  color: #fff;
  display: inline-block;
  font-size: 24px;
  padding-left: 24px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.menus {
  display: flex;
  align-items: center;
}

.signout {
  margin-right: 16px;
  color: #fff;
  cursor: pointer;
}

.hamburgerBox {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  background-color: $primary;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: $primary-dark;
  }
}

.bar {
  height: 2px;
  width: 32px;
  display: inline-block;
  margin-bottom: 8px;
  background-color: #fff;
  opacity: 1;
  transition: all 400ms ease-out;

  &.barTop.isOpen {
    transform: rotate(45deg) translate(6px, 8px);
  }

  &.barMiddle.isOpen {
    opacity: 0;
  }

  &.barBottom.isOpen {
    transform: rotate(-45deg) translate(6px, -8px);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
