@import '../common';

.table {
  width: 100%;
}

.status {
  width: 100px;
}

.limit {
  width: 60px;
}

.category {
  width: 172px;
}

.star {
  width: 96px;
}

.cellHead {
  padding: 0 8px 8px;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid $line-gray;
  color: $text-gray;
  text-align: center;

  &.cellHeadBody {
    text-align: left;
  }
}

.tableRow {
  cursor: pointer;

  &:hover {
    background-color: $grey;
  }

  &.tableBlank {
    cursor: default;

    &:hover {
      background-color: #fff;
    }
  }
}

.cell {
  padding: 16px 8px;
  border-bottom: 1px solid $line-gray;
  text-align: center;
  vertical-align: middle;
}

.cellStatusIconBox {
  margin: 0 auto;
  width: 50%;
}

.cellBody {
  text-align: left;

  .cellBodyTitle {
    margin-bottom: 8px;
    font-size: 18px;
  }

  .cellBodyText {
    display: inline-block;
    margin-right: 8px;
    color: $text-gray;
  }
}

.cellLimitOld {
  margin-bottom: 8px;
  font-size: 18px;
}

.cellStarIconBox {
  display: flex;
  justify-content: center;
}

.cellStarIcon {
  margin-right: 4px;
  width: 24px;

  &:last-of-type {
    margin-right: 0;
  }
}
