.pageTitle {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.pageTitleIcon {
  display: inline-block;
  height: 24px;
  font-size: 24px;
}

.pageTitleText {
  margin-left: 4px;
  font-size: 20px;
}