@import '../common';

.starBox {
  height: 30px;
}
.star {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 4px;
  color: $secondary;
  cursor: pointer;

  &.nonActive {
    width: 24px;
    position: relative;
    top: -2px;
    opacity: .5;
  }

  &:last-of-type {
    margin-right: 0;
  }
}