@import '../common';

.label {
  display: inline-block;
  margin-bottom: 8px;
  color: #646464;
  font-size: 12px;
}

.textField {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  line-height: 40px;

  &:disabled {
    color: $disabled-text-grey;
    background-color: $grey;
  }

  &.isError {
    border-color: $error;
    background-color: $error-light;
  }
}
