$primary: #5598ad;
$primary-light: #d4e6ec;
$primary-dark: #498294;
$primary-disabled: #AEC8D0;
$primary-line: #ADC8D0;

$secondary: #d8aa65;
$secondary-light: #e9c999;
$secondary-dark: #b58d53;

$black: #505050;
$grey: #f2f2f2;
$back-grey: #E7E7E7;
$back-grey-light: #F8F8F8;
$line-gray: #c4c4c4;
$disabled-text-grey: #A7A7A7;
$text-gray: #646464;
